@use "./variables/colors" as c;
@use "./variables/fonts" as f;

body {
  background-color: c.$bg;
  font-family: f.$text;
}

a {
  font-family: f.$text;

  // [:target]=_blank;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: f.$header;
  // color: c.$primary;

  text-align: center;
}
