@use "./variables/colors" as c;
@use "./variables/fonts" as f;

@use "./variables/animations";

html {
  scroll-behavior: smooth;
}

body {
  background-color: c.$bg;
  // background: linear-gradient(to right, c.$pink, c.$lime-green, c.$pink);

  font-family: f.$text;
}

a {
  font-family: f.$text;
  text-decoration: none;

  color: c.$text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: f.$header;
  color: c.$primary;

  text-align: center;

  // margin: 0;
  // padding: 0;
}

.slide-in-from-right {
  animation: slideInFromRight 1s forwards ease-in;
  animation-timeline: view();
  animation-range: entry 10% cover 40%;
}

.slide-in-from-left {
  animation: slideInFromLeft 1s forwards ease-in;
  animation-timeline: view();
  animation-range: entry 10% cover 40%;
}

.blur-in-and-out {
  animation: blurInAndOut 4s forwards ease-in infinite;
}

.blur-in-and-out-on-scroll {
  animation: blurInAndOutOnScroll 1s forwards ease;
  animation-timeline: view();
  animation-range: entry 10% cover 40%;
}
