@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rammetto+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rammetto+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=GFS+Didot&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rammetto+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=GFS+Didot&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rammetto+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the line height in all browsers.
3. Prevent adjustments of font size after orientation changes in iOS.
4. Use a more readable tab size (opinionated).
*/
html {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 1 */
  line-height: 1.15; /* 2 */
  -webkit-text-size-adjust: 100%; /* 3 */
  tab-size: 4; /* 4 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct font weight in Chrome and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  border-color: currentcolor;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes slideInFromLeft {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes blurInAndOut {
  0% {
    opacity: 0;
    transform: translateX(0%);
  }
  50% {
    opacity: 1;
    transform: translateY(100%);
  }
  100% {
    opacity: 0;
    transform: translateX(0%);
  }
}
@keyframes blurInAndOutOnScroll {
  from {
    transform: translateY(10%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #fffaf2;
  font-family: "Roboto";
}

a {
  font-family: "Roboto";
  text-decoration: none;
  color: #fffaf2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Times New Roman";
  color: #ff8243;
  text-align: center;
}

p {
  color: #000000;
}

.slide-in-from-right {
  animation: slideInFromRight 1s forwards ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 15%;
}

.slide-in-from-left {
  animation: slideInFromLeft 1s forwards ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 15%;
}

.blur-in-and-out {
  animation: blurInAndOut 4s forwards ease-in infinite;
}

.blur-in-and-out-on-scroll {
  animation: blurInAndOutOnScroll 1s forwards ease;
  animation-timeline: view();
  animation-range: entry 10% cover 40%;
}

.nav {
  width: 100vw;
  height: 2vh;
  top: 0;
  z-index: 2;
  position: sticky;
}
.nav__container {
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 10px;
  background-color: #2f6f3e;
  padding: 1.5em;
  margin: 0;
}
.nav__container--text {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 0.75em;
  color: #000000;
}
@media (min-width: 577px) {
  .nav__container--text {
    font-size: 1em;
  }
}
@media (min-width: 768px) {
  .nav__container--text {
    font-size: 1.25em;
  }
}
@media (min-width: 1080px) {
  .nav__container--text {
    font-size: 1.75em;
  }
}
@media (min-width: 1920px) {
  .nav__container--text {
    font-size: 1.5em;
  }
}

.hero {
  height: 100vh;
  width: 100vw;
  top: 0;
  position: sticky;
  z-index: 0;
  top: 0;
}
.hero__container {
  height: 100%;
  width: 100%;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 0;
  margin: 0;
}
.hero__container__heading {
  width: 90%;
  height: 8%;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 4em;
}
.hero__container__heading--subheading {
  height: 6%;
  font-size: 2em;
  text-decoration: underline;
}
.hero__container__background-img {
  background-image: url("./assets/images/bg-1.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100% 100%;
  z-index: 0;
}
.hero--arrow-img {
  height: 3em;
  width: 3em;
  filter: invert(100%);
}
@media (min-width: 577px) {
  .hero__container {
    row-gap: 1em;
  }
  .hero__container__heading {
    font-size: 5em;
    height: 8%;
  }
  .hero__container__heading--subheading {
    font-size: 3em;
  }
}
@media (min-width: 768px) {
  .hero__container {
    row-gap: 2em;
  }
  .hero__container__heading {
    font-size: 7em;
  }
  .hero__container__heading--subheading {
    font-size: 4em;
  }
  .hero--arrow-img {
    height: 5em;
    width: 5em;
    filter: invert(100%);
  }
}
@media (min-width: 1080px) {
  .hero__container {
    row-gap: 6.5em;
  }
  .hero__container__heading {
    font-size: 12em;
  }
  .hero__container__heading--subheading {
    font-size: 6em;
  }
  .hero--arrow-img {
    height: 7em;
    width: 7em;
    filter: invert(100%);
  }
}
@media (min-width: 1920px) {
  .hero__container {
    row-gap: 4em;
  }
  .hero__container__heading {
    font-size: 10em;
  }
  .hero__container__heading--subheading {
    font-size: 6em;
  }
  .hero--arrow-img {
    height: 7em;
    width: 7em;
    filter: invert(100%);
  }
}

.techstack {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  row-gap: 1em;
  padding: 1em 0 1em 0;
  background-color: #cac5be;
  position: relative;
  z-index: 1;
}
.techstack--header {
  width: 100%;
  text-align: center;
  font-size: 3em;
  border: 3px solid black;
  border-radius: 3px;
  margin: 1em 1em 0em 1em;
  padding: 0 0.1em;
}
.techstack__section {
  width: 90%;
  align-self: center;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  row-gap: 1em;
  border: 3px dotted black;
  padding: 0.5em 1em;
  margin: 0;
}
.techstack__section__skill {
  width: 100%;
  align-self: center;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  row-gap: 1em;
}
.techstack__section__skill--text {
  text-align: center;
  width: 55%;
  font-weight: bold;
  font-size: 3em;
}
.techstack__section__skill--img {
  width: 35%;
}
@media (min-width: 577px) {
  .techstack--header {
    margin: 0.75em 0.75em 0em 0.75em;
    font-size: 4em;
  }
  .techstack__section {
    width: 90%;
  }
  .techstack__section__skill {
    column-gap: 1em;
  }
  .techstack__section__skill--text {
    width: fit-content;
    font-size: 2.5em;
  }
  .techstack__section__skill--img {
    width: 35%;
  }
}
@media (min-width: 768px) {
  .techstack--header {
    margin: 0.75em 1em 0em 1em;
    font-size: 5em;
  }
  .techstack__section__skill {
    width: 30%;
  }
  .techstack__section__skill--text {
    width: fit-content;
    font-size: 1.5em;
  }
  .techstack__section__skill--img {
    width: 45%;
  }
}
@media (min-width: 1080px) {
  .techstack {
    width: 100vw;
  }
  .techstack--header {
    margin: 1em 1em 0em 1em;
    font-size: 8em;
  }
  .techstack__section__skill {
    width: 20%;
    flex-direction: column;
  }
  .techstack__section__skill--text {
    width: fit-content;
    font-size: 2.25em;
  }
  .techstack__section__skill--img {
    width: 65%;
  }
}
@media (min-width: 1920px) {
  .techstack {
    width: 100vw;
  }
  .techstack--header {
    margin: 1em 1em 0em 1em;
    font-size: 10em;
  }
  .techstack__section {
    column-gap: 1em;
  }
  .techstack__section__skill {
    width: 10%;
  }
  .techstack__section__skill--text {
    width: fit-content;
    font-size: 2em;
  }
  .techstack__section__skill--img {
    width: 75%;
  }
}

.about {
  width: 100vw;
  height: 100vh;
  padding: 1em 0 4em 0;
  text-align: center;
  background-color: #fffaf2;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}
.about__container__header {
  width: 100%;
  font-size: 3em;
  margin: 0 1em;
  padding: 0.75em 0 0 0;
  font-family: "Times New Roman";
  text-align: center;
}
.about__container__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__container__container__p {
  width: 80%;
  font-size: 1em;
  margin: 1em 0.5em 0 0.5em;
  font-family: "Roboto";
  text-align: center;
}
.about__container__img {
  width: 70%;
  margin: 0 1em 0 1em;
  border-radius: 5px;
  text-align: center;
  box-shadow: 8px 8px 15px #ff8243;
}
@media (min-width: 577px) {
  .about__container__header {
    padding: 1em 0 0 0;
    font-size: 4em;
  }
  .about__container__container__p {
    font-size: 1.05em;
  }
  .about__container__img {
    width: 55%;
  }
}
@media (min-width: 768px) {
  .about__container {
    flex-direction: row;
  }
  .about__container__header {
    font-size: 6em;
  }
  .about__container__container {
    width: 45%;
  }
  .about__container__container__p {
    width: 100%;
    font-size: 1.1em;
  }
  .about__container__img {
    width: 45%;
  }
}
@media (min-width: 1080px) {
  .about__container {
    column-gap: 1em;
  }
  .about__container__header {
    font-size: 8em;
  }
  .about__container__container__p {
    font-size: 1.5em;
  }
  .about__container__img {
    width: 35%;
  }
}
@media (min-width: 1920px) {
  .about__container {
    column-gap: 2em;
  }
  .about__container__header {
    font-size: 8em;
  }
  .about__container__container__p {
    font-size: 1.75em;
  }
  .about__container__img {
    width: 30%;
  }
}

.project {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 0px;
  background-color: #fffaf2;
  position: relative;
  z-index: 1;
  padding: 3em 0 0 0;
}
.project__header {
  width: 90%;
  height: fit-content;
  margin: 0 0 0 0;
  text-decoration: underline;
  font-size: 3em;
}
.project--box {
  width: 90%;
  padding: 0 0 0.5em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0em 3em 1em 3em;
}
.project--box--line {
  border: 5px solid #cac5be;
  border-top: none;
  border-left: none;
  border-right: none;
}
.project--box__details {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  column-gap: 0.25em;
}
.project--box__details--pic {
  width: 65%;
  margin: 1em 1em;
  text-align: center;
  border: 3px dotted #ff8243;
  box-shadow: 8px 8px 5px #ff8243;
}
.project--box__details__box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  column-gap: 0.25em;
}
.project--box__details__box--icon {
  width: 5%;
  text-align: center;
}
.project--box__details__subheader {
  margin: 0.5em 0 0 0;
  font-size: 2em;
  text-align: center;
}
.project--box__details__p {
  font-size: 0.75em;
  text-align: center;
  margin: 0 1em;
}
.project--box__details__p--cursive {
  font-style: italic;
  font-weight: 700;
  padding: 0 0 0.1em 0;
}
@media (min-width: 577px) {
  .project__header {
    font-size: 4em;
  }
  .project--box__details {
    width: 90%;
  }
  .project--box__details--pic {
    width: 75%;
  }
  .project--box__details__box--icon {
    width: 5%;
  }
  .project--box__details__subheader {
    margin: 0em 0 0 0;
    font-size: 3em;
  }
  .project--box__details__p {
    font-size: 1em;
  }
}
@media (min-width: 768px) {
  .project__header {
    font-size: 4em;
    margin: 0.5em 0 0 0;
  }
  .project--box {
    width: 100%;
    flex-direction: row;
    margin: 0em 1em 1em 1em;
  }
  .project--box__details {
    width: 45%;
  }
  .project--box__details--pic {
    width: 90%;
  }
  .project--box__details__box--icon {
    width: 5%;
  }
  .project--box__details__subheader {
    margin: 0em 0 0 0;
    font-size: 3em;
  }
  .project--box__details__p {
    font-size: 1.25em;
  }
}
@media (min-width: 1080px) {
  .project__header {
    font-size: 7em;
    margin: 0.75em 0 0 0;
  }
  .project--box {
    width: 100%;
    flex-direction: row;
    margin: 0em 1em 1em 1em;
  }
  .project--box__details {
    width: 45%;
  }
  .project--box__details--pic {
    width: 90%;
  }
  .project--box__details__box--icon {
    width: 5%;
  }
  .project--box__details__subheader {
    margin: 0em 0 0 0;
    font-size: 4em;
  }
  .project--box__details__p {
    font-size: 1.75em;
  }
}
@media (min-width: 1920px) {
  .project__header {
    font-size: 5em;
    margin: 0.75em 0 0 0;
  }
  .project--box {
    width: 90%;
  }
  .project--box__img {
    width: 2em;
  }
  .project--box__img--pic {
    width: 75%;
  }
  .project--box__subheader {
    margin: 0em 0 0 0;
    font-size: 3em;
  }
  .project--box__p {
    font-size: 1.5em;
  }
}

.contact {
  height: fit-content;
  width: 100%;
  background-color: #2f6f3e;
  font-family: "Roboto";
  font-size: 1em;
  margin: 0;
  padding: 0 0 1em 0;
  position: relative;
  z-index: 1;
  text-align: center;
}
.contact__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.75em;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  align-content: center;
  gap: 0;
}
.contact__container--header {
  width: 100%;
  color: #000000;
  margin: 0.5em 0;
  font-size: 2em;
  font-weight: bold;
}
.contact__container--p {
  width: 100%;
  color: #000000;
  margin: 0.5em 0;
  font-size: 1em;
  font-weight: bold;
}
.contact__container__container--img {
  width: 3em;
}

/*# sourceMappingURL=style.css.map */
