$bg: #fffaf2;
$primary: #ff8243;
$secondary: #2f6f3e;
// $secondary: #1a3c22;
$text: #ffffff;
// $pink: #ffd3b6;
// $lime-green: #9fd6a3;

// $bg: #363636;
// $primary: #e8175d;
// $secondary: #cc5274;
// $text: #aba7a8;
// // $pink: #ffd3b6;
// // $lime-green: #9fd6a3;
