@use "../variables/colors" as c;
@use "../variables/fonts" as f;

.about {
  width: 100%;

  margin: 0em 0 0 0;
  padding: 0.5em 0 3em 0;

  text-align: center;

  background-color: c.$bg;

  position: relative;
  z-index: 1;

  &__container {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__header {
      font-size: 3em;

      margin: 0 1em;

      padding: 1em 0 0 0;
      font-family: f.$header;

      text-align: center;
    }

    &__p {
      font-size: 0.75em;

      margin: 1em 0.5em 0 0.5em;
      font-family: f.$text;

      text-align: center;
    }
    &__img {
      width: 75%;

      margin: 0 1em 0 1em;

      // border: 3px solid c.$pink;
      border-radius: 5px;

      text-align: center;
      box-shadow: 8px 8px 15px c.$primary;
    }
  }
}
