.hero {
  height: 100vh;
  width: 100vw;

  // text-align: right;

  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;

  // flex-wrap: wrap;
  // align-content: center;

  // margin: 0;
  // padding: 0;

  top: 0;
  position: sticky;
  z-index: 0;

  top: 0;

  &__container {
    height: 100%;
    width: 100%;
    text-align: right;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0;

    // border: 1px dotted white;

    &__heading {
      width: 90%;
      height: 10%;

      // padding: 1em 0.5em 0em 0em;
      // margin: 0em;

      // -webkit-text-stroke: 0.01px grey;

      // border: 1px dotted white;
      margin: 0;
      padding: 0;

      color: white;
      font-size: 4em;

      &--subheading {
        // width: 80%;
        height: 6%;
        font-size: 2em;

        // padding: 0em 0em 0em 0em;
        // margin: 0em;

        text-decoration: underline;
      }
    }

    &__background-img {
      // width: 100vw;
      // height: 100vh;

      background-image: url("./assets/images/bg-img-vib100.png");
      background-repeat: no-repeat;
      background-position: top right;
      // background-size: cover;
      background-size: 100% 100%;

      // position: static;

      // margin: 0;
      // padding: 0 0 50vh 0;

      z-index: 0;
    }
  }

  &--arrow-img {
    height: 3em;
    width: 3em;

    // position: static;

    filter: invert(100%);
  }
}
