@use "../variables/colors" as c;
@use "../variables/fonts" as f;

@use "../mixins/media";

.nav {
  width: 100vw;
  height: 2vh;

  top: 0;
  z-index: 2;
  position: fixed;

  &__container {
    height: 100%;
    list-style-type: none;

    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;

    flex-wrap: wrap;
    align-content: center;

    gap: 10px;

    background-color: c.$secondary;

    padding: 1.5em;

    margin: 0;
    &--text {
      font-family: f.$text;
      font-weight: 700;
      font-size: 0.75em;
      color: c.$text;
    }
  }

  @include media.breakpoint(tablet) {
    &__container {
      &--text {
        font-size: 1em;
      }
    }
  }

  @include media.breakpoint(large-tablet) {
    &__container {
      &--text {
        font-size: 1.25em;
      }
    }
  }

  @include media.breakpoint(laptop) {
    &__container {
      &--text {
        font-size: 1.75em;
      }
    }
  }

  @include media.breakpoint(desktop) {
    &__container {
      &--text {
        font-size: 2em;
      }
    }
  }
}
